<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <h1>Formulario</h1>
  <form action="/form_text" method="POST">
    <p>
      <label for="name"> Nombre: </label>
      <input type="text" name="name" id="name" placeholder="Tu nombre">
    </p>
    <p>
      <label for="nachname"> Apellido: </label>
      <input type="text" name="nachname" id="nachname" placeholder="Tu apellido">
    </p>
      <input type="submit" value="Absenden" style="background-color: #008CBA; color: white">
  </form>

</body>
</html>